<!-- Accordion style list -->
<ul role="tablist" aria-multiselectable="true">
  <button type="button" class="btn btn-primary btn-lg btn-block">Add Task</button>
  <div class="card" *ngFor="let task of tasks; let i = index">
    <div *ngIf="!task.isRemoved">
      <div class="card-header text-left" role="tab" (click)="current = i" 
        [attr.aria-expanded]="current != i" aria-controls="toCollapse">
        <h4 class="task-name">{{task.name}}</h4>
      </div>
  <!-- In the body of the card we can make presentation of details nice looking -->
      <!-- <div class="card-body" id="toCollapse" [collapse]="current != i">
        <div class="row">
          <ul>
            <p>{{task.description}}</p>
          </ul>
          <ul>
            <button class="nav-item nav-link bg-primary" (click)="removeTask(i, task)">Delete</button>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</ul>
