<div class="modal" id="editAccountModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Header content -->
      <div class="modal-header lean-bg">
        <h4 class="modal-title lean-text ml-auto mr-auto">Edit Account</h4>
        <button type="button" class="close lean-text" data-dismiss="modal" (click)="populateForm()">&times;</button>
      </div>

      <!-- Body content -->
      <div class="modal-body">
        <form [formGroup]="accountForm">

          <!-- First name -->
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input *ngIf="account" type="text" class="form-control" formControlName="firstName">
            <div *ngIf="accountForm.controls['firstName'].invalid && accountForm.controls['firstName'].dirty">
              <p class="text-danger">A first name is required.</p>
            </div>
          </div>

          <!-- Last name -->
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" formControlName="lastName" value="{{account.lastName}}">
            <div *ngIf="accountForm.controls['lastName'].invalid && accountForm.controls['lastName'].dirty">
              <p class="text-danger">A last name is required.</p>
            </div>
          </div>
          <hr>
          <!-- Email -->
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{account.email}}">
            </div>
          </div>

          <!-- Passwords -->
          <!-- <div class="form-group">
            <div class="row">
              <label for="password">Old Password:</label>
              <input type="password" class="form-control" formControlName="oldPassword" placeholder="Enter new password">
              <div *ngIf="accountForm.controls['oldPassword'].dirty">
                <label class="text-danger">Enter new password.</label>
                <br>
              </div>
              <label for="password">Password:</label>
              <input type="password" class="form-control" formControlName="password">
              <div *ngIf="accountForm.controls['password'].invalid && accountForm.controls['password'].dirty">
                <label class="text-danger">A password is required.</label>
                <br>
              </div>
              <label for="password">Confirm:</label>
              <input type="password" class="form-control" formControlName="confirmPassword">
              <div *ngIf="accountForm.controls['confirmPassword'].invalid && accountForm.controls['confirmPassword'].dirty && !passwordMatch()">
                <p class="text-danger" *ngIf="!passwordMatch()">Passwords must match.</p>
              </div>
            </div>
            <div class="row">
              <div class="col pl-5 pt-2">
                <label class="text-danger" [hidden]="hasUpper()">Passwords must have at least one uppercase letter.</label>
                <label class="text-danger" [hidden]="hasLower()">Passwords must have at least one lowercase letter.</label>
                <label class="text-danger" [hidden]="hasNumber()">Passwords must have at least one number.</label>
              </div>
            </div>
          </div> -->

        </form>
      </div>

      <!-- Footer content -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="accountForm.invalid" 
          (click)="editAccount()" data-dismiss="modal">
          Edit Account
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="populateForm()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>