.member-name:hover {
    cursor: pointer;
    color: lightslategray;
}

.complete {
    color: green;
}

.uncomplete {
    color: red;
}

.tasks:hover {
    background-color: #e2e2e2;
}

.users:hover {
    background-color: #e2e2e2;
}

.list-group {
    max-height: 500px;
    overflow: scroll;
}