<div class="container-fluid bg-light bg-secondary h-100">
    <section class="py-5">
        <div class="container mb-0">
          <div class="row">
            <div class="col-5">
              <img src="assets/img/Lean Logo 300.png" class="float-left rounded" height="350">
            </div>
            <div class="col-7" style="vertical-align: middle;">
                <h1 class="display-4">About Lean Portland</h1>
                <p class="lead">
                  <i>'Focus every day building those around you and yourself.'</i>
                </p>
                <p>
                  Lean Portland is dedicated to helping people make work better. 
                  We are a group of improvement professionals in the Portland, Oregon 
                  region who learn from each other, do a great deal of sharing and 
                  organize Lean related community benefit projects focused on social 
                  and environmental justice. Contact us to copy what we do in your 
                  community.
                </p>
                <p>Visit <a href="http://leanportland.com" target="_blank">Lean Portland</a> to learn more.</p>
            </div>
          </div>
        </div>
      </section>
      <hr class="mt-0 mb-0">
      <section class="py-5">
        <div class="container mt-0">
          <div class="row pl-0">
            <div class="col-8">
                <h1 class="display-4">Leader Standard Work</h1>
                <p class="lead">
                  <i>
                    Leader Standard Work are your standard tasks as a leader. 
                    It is not just about the What you do; it’s also about the How and the Why. 
                  </i>
                </p>
                <p>
                  These are the routine tasks that you do to support your Lean culture. 
                  The principles of Lean are Respect and Continuous Improvement. Consider 
                  daily, weekly, monthly and annual tasks that you do to drive inspiration 
                  to the hearts and minds of those around you. This is done every day, every 
                  week, every month and every year. It takes the form of strategic program 
                  planning, initiative selection, improvement management and daily problem 
                  solving coaching.
                </p>
            </div>
            <div class="col-4">
              <img src="assets/img/checkbox.png" height="256" width="256">
            </div>
          </div>
        </div>
      </section>
</div>