<video width="100%" height="100%" autoplay>
  <source src="../../../assets/video/Lean Portland Logo Animation.mov">
</video>

<div class="jumbotron">
  <div class="row">
    <div class="col"></div>
    <div class="col-3">
      <form [formGroup]="loginForm" class="form">
        <div class="form-group">
          <label class="form-control-label" for="email">Email:</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label class="form-control-label" for="password">Password:</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary" [disabled]="loginForm.invalid" 
              (click)="userLogin()">
              Login
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#accountModal">
              Create Account
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>

<account-form (newAccount)="onCreateAccount($event)"></account-form>

<div class="container">
  <h2 class="text-muted">This can act as our home page. We can include intro info about lean here.</h2>
</div>