<!-- <div class="card" *ngIf="detailedTask">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h4>{{detailedTask.name}}</h4>
      </div>
      <div class="col">
        <p>Created: {{ detailedTask.creationDate | date: "MM/dd/yy" }}</p>
      </div>
      <div class="col" *ngIf="updated()">
        <p>Last updated: {{ detailedTask.updatedDate | date: "MM/dd/yy"}}</p>
      </div>
      <div class="col">
        <label for="completed" class="form-check-label">
          <input type="checkbox" class="form-check-input" (click)="completeTask()">
          Completed
        </label>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <p class="card-title">
          {{ detailedTask.description || noDescription }}
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h5>Completion Status: {{ completed }}</h5>
      </div>
      <div class="col">
        <h5>Recurring: {{ detailedTask.isRecurring ? recurring : nonrecurring }}</h5>
      </div>
    </div>
  </div>
</div> -->

<div *ngIf="detailedTask">

</div>
