<section class="jumbotron text-center pt-2 pb-2">
  <h2 class="display-2">Invites</h2>
  <hr>
  <ul class="list-inline">
    <li class="list-inline-item">
      <a class="nav-link" (click)="displayPending = false;">My Invites</a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link" (click)="displayPending = true;">Pending Invites</a>
    </li>
  </ul>
</section>

<div class="container">
  <table class="table table-bordered table-hover" [hidden]="displayPending">
    <thead class="lean-bg">
      <th scope="col" class="lean-text">From</th>
      <th scope="col" class="lean-text">Email</th>
      <th scope="col" class="lean-text">Status</th>
    </thead>
    <tbody>
      <tr *ngFor="let invite of invites; let i = index">
        <td>{{ inviterAccounts[i].firstName }} {{ inviterAccounts[i].lastName }}</td>
        <td>{{ invite.inviterEmail }}</td>
        <td>
          <div class="btn-group d-flex">
            <button type="button" class="btn btn-success btn-md w-100" (click)="acceptTeamInvite(invite)">Acc</button>
            <button type="button" class="btn btn-danger btn-md w-100" (click)="declineTeamInvite(invite)">Dec</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered table-hover" [hidden]="!displayPending" *ngIf="pending">
    <thead class="lean-bg">
      <th scope="col" class="lean-text">To</th>
      <th scope="col" class="lean-text">Email</th>
    </thead>
    <tbody>
      <tr *ngFor="let invite of pending; let i = index">
        <td>{{ pendingAccounts[i].firstName }} {{ pendingAccounts[i].lastName }}</td>
        <td>{{ invite.inviteeEmail }}</td>
      </tr>
    </tbody>
  </table>
</div>
