<div class="jumbotron text-center lean-bg">
  <h4 class="display-4">{{task.name}}</h4>
</div>

<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h5 class="lead">Task information</h5>
      <h4 class="lead">Created on: {{ task.creationDate | date:'M/d/yy' }}</h4>
    </div>

    <div class="card-body">
      <div class="row mb-2">
        <div class="col-2"><h4 class="lead">Description:</h4></div>
        <div class="col"><h4 class="lead">{{ task.description }}</h4></div>
      </div>
      <div class="row">
        <div class="col-5">
          <h5 class="lead">Occurs on:</h5>
          <div [hidden]="daysOfWeek.length == 0">
            <div class="list-group">
              <a class="list-group-item" *ngFor="let day of daysOfWeek">{{ day }}</a>
            </div>
          </div>
          <div [hidden]="task.frequency != 0">
            <p>This task occurs once on {{ task.dueDate | date: 'fullDate' }}.</p>
          </div>
          <div [hidden]="task.frequency != 3">
            <p>This task occurs on {{ task.dueDate | date: 'fullDate'}}.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-block btn-danger" (click)="removeTask()" 
            *ngIf="taskBelongsToMe">
            Remove
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-block btn-success" [hidden]="!taskIsActive()" 
            (click)="completeTask()" *ngIf="taskBelongsToMe && !task.isCompleted">
            Complete
          </button>
          <button type="button" class="btn btn-block btn-warning" [hidden]="!task.isCompleted" 
            (click)="uncompleteTask()" *ngIf="taskBelongsToMe && task.isCompleted">
            Uncomplete
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-block btn-primary" data-toggle="modal" 
            data-target="#editModal" *ngIf="taskBelongsToMe">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="editModal">
  <task-form (editedTask)="onTaskEdited($event)" [taskId]="task.id"></task-form>
</div>
