<div class="container-fluid">
    <div class="navbar navbar-expand-sm lean-bg">
        <h4><a href="/home" class="lean-text nav-link">{{ brand | uppercase }}</a></h4>
        <div class="dropdown ml-auto" *ngIf="user" [hidden]="!isCurrentUser()">
            <button class="dropdown-toggle btn lean-bg lean-text" type="button" data-toggle="dropdown" id="userDropdown" 
                aria-haspopup="true" aria-expanded="false">Logged in as 
                {{ user.firstName }} {{ user.lastName }}
            </button>
            <div class="dropdown-menu" aria-labelledby="userDropdown" style="width: 100%">
                <a href="#" class="lean-text nav-link option" data-toggle="modal" data-target="#editAccountModal" 
                    *ngIf="isCurrentUser()">
                    Edit Account
                </a>
                <a href="#" class="lean-text nav-link option" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>

    <div class="row mr-0">
        <div class="col-2 pr-0">
            <sidebar (userLoggedIn)="onUserLoggedIn($event)"></sidebar>
        </div>
        <div class="col pl-0 pr-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div *ngIf="user">
    <app-account-edit [account]="user" (updatedAccount)="updateAccount($event)"></app-account-edit>
</div>