<!-- Root html component -->
<section class="container-fluid">
    <div class="navbar navbar-fixed navbar-expand-md" id="topnav">
        <h3>LEAN Task Management</h3>
    </div>
    <div class="navbar navbar-fixed navbar-expand-md" id="options">
        <ul class="options-menu">
            <li class="menu-item" routerLink="#">Add new task</li>
            <li class="menu-item" routerLink="#">Edit task</li>
            <li class="menu-item" routerLink="#">Remove task</li>
        </ul>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>