<div class="jumbotron text-center pt-2 pb-2 mb-0">
  <h1 class="display-3">{{ team.teamName }}</h1>
  <p class="lead">{{ team.teamDescription }}</p>
  <hr>
  <div class="row mb-0">
    <div class="col-7">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="nav-link" (click)="getLastWeekMetrics()">Last Week</a>
        </li>
        <li class="list-inline-item">
          <a class="nav-link" (click)="getThisWeekMetrics()">This Week</a>
        </li>
        <li class="list-inline-item">
          <a class="nav-link" (click)="getLastMonthMetrics()">Last Month</a>
        </li>
        <li class="list-inline-item">
          <a class="nav-link" (click)="getThisMonthMetrics()">This Month</a>
        </li>
        <li class="list-inline-item">
          <a class="nav-link" (click)="getLastYearMetrics()">Last Year</a>
        </li>
        <li class="list-inline-item">
          <a class="nav-link" (click)="getThisYearMetrics()">This Year</a>
        </li>
      </ul>
    </div>
    <div class="col-5">
      <form [formGroup]="rangeForm">
        <div class="row">
          <div class="col-8">
            <input formControlName="range" type="text" class="form-control"
            bsDaterangepicker [bsConfig]="datePickerConfig" placeholder="Select a date range">
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-primary btn-md" (click)="getDatePickerMetrics()">View Metrics</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-0 ml-2">
  <table>
    <tr>
      <td style="width: 100%; height: 50%"><canvas id="lineChart"></canvas></td>
      <td style="width: 100%; height: 50%"></td>
    </tr>
  </table>
</div>
