<div class="card">
  <div class="card-header text-center">
    <p class="card-text">
      Create Account
    </p>
  </div>
  <div class="card-body">
    <form [formGroup]="accountForm">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" formControlName="firstName" placeholder="Enter your first name">
        <div *ngIf="accountForm.controls['firstName'].invalid && accountForm.controls['firstName'].touched">
          <p class="text-danger">A first name is required.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" formControlName="lastName" placeholder="Enter your last name">
        <div *ngIf="accountForm.controls['lastName'].invalid && accountForm.controls['lastName'].touched">
          <p class="text-danger">A last name is required.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" formControlName="email" placeholder="Enter your email">
        <div *ngIf="accountForm.controls['email'].invalid && accountForm.controls['email'].touched">
          <p class="text-danger">An email is required.</p>
        </div>
      </div>
      <hr/>
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <div class="row">
              <div class="col-4">
                <label for="password1">Password</label>
              </div>
              <input type="password" formControlName="password">
              <div *ngIf="accountForm.controls['password'].invalid && accountForm.controls['password'].touched">
                <div class="col">
                  <label class="text-danger">A password is required.</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <div class="row">
              <div class="col-4">
                <label for="confirmPassword">Retype password</label>
              </div>
              <input type="password" formControlName="confirmPassword">
              <div *ngIf="!passwordMatch()">
                <div class="col">
                  <label>Password mismatch</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary" [disabled]="accountForm.invalid || !passwordMatch()" (click)="addAccount()" [routerLink]="['/tasks']">Create Account</button>
  </div>
</div>
