<!--
<div class="container">
  <div class="card">
    <div class="card-header">
        <h3>Invite New Member</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="submit()">
        <div class="form-group">
          <label for="email">New Member Email Address</label>
          <input type="text" class="form-control" required [(ngModel)]="email" name="email">
        </div>
        <button type="submit" class="btn btn-primary">Send Invite</button>
      </form>
    </div>
  </div>
</div>
-->

<div class="modal-dialog">
  <div class="modal-content">
    <!-- Header content -->
    <div class="modal-header lean-bg">
      <h4 class="modal-title lean-text">Invite Member</h4>
      <button type="button" class="close" data-dismiss="modal" (click)="clear()">&times;</button>
    </div>

    <!-- Body content -->
    <div class="modal-body">
      <form [formGroup]="inviteForm">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="email" placeholder="johndoe123@gmail.edu">

        </div>
      </form>
    </div>

    <!-- Footer content -->
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="submit()" 
        data-dismiss="modal" [disabled]="inviteForm.invalid">Submit</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">Cancel</button>
    </div>
  </div>
</div>