<nav class="sidebar text-center light-bg">
  <ul class="nav flex-column" *ngIf="isCurrentUser()">
    <li class="nav-item nav-link" routerLink="/tasks" [hidden]="!isCurrentUser()"><h4>Tasks</h4></li>
    <li class="nav-item nav-link" routerLink="/teams" [hidden]="!isCurrentUser()"><h4>Teams</h4></li>
    <li class="nav-item nav-link" routerLink="/notifications" [hidden]="!isCurrentUser()"><h4>Invites</h4></li>
  </ul>
  <ul class="nav flex-column" *ngIf="!isCurrentUser()">
      <li class="nav-item nav-link" data-toggle="modal" data-target="#loginModal"><h4>Login</h4></li>
      <li class="nav-item nav-link" data-toggle="modal" data-target="#accountModal"><h4>Create Account</h4></li>
  </ul>
</nav>

<login-form></login-form>
<account-form (newAccount)="onCreateAccount($event)"></account-form>