<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">{{ team.teamName }}</h1>
    <p class="lead">{{ team.teamDescription }}</p>
    <div class="row" style="text-align:center">
      <button type="button" [hidden]="!isOwnerOfTeam()" class="btn btn-info"
              data-toggle="modal" data-target="#teamFormModal">
        Edit
      </button>
      <div class="divider"></div>
      <button type="button" [hidden]="!isOwnerOfTeam()" class="btn btn-info">
        Remove Member
      </button>
      <div class="divider"></div>
      <button type="button" [hidden]="!isOwnerOfTeam()" class="btn btn-info">
        Task Roll-Up
      </button>
      <div class="divider"></div>
      <button type="button" [hidden]="!isOwnerOfTeam()" class="btn btn-info">
        Invite Authorization Manager
      </button>
      <div class="divider"></div>
      <button type="button" [hidden]="!isOwnerOfTeam()" class="btn btn-info">
        Grant Permission
      </button>
      <div class="divider"></div>
      <button type="button" [hidden]="!isOwnerOfTeam()" class="btn btn-info">
        Revoke Permission
      </button>
      <div class="divider"></div>
      <button type="button" [hidden]="!isOwnerOfTeam()" class="btn btn-info">
        Delete Team
      </button>
    </div>
    <hr>
  </div>
  
  <div>
    <div class="row">
      <div class="col-md-4">
        <h5>Members</h5>
        <ul class="list-group">
          <a href="teams/{{ team.id }}/invite" class="btn btn-info btn-sm">+ Invite</a>
          <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let account of accounts">
            <div class="d-flex justify-content-between">
              <h5 class="mb-1"><a href="users/{{ account.ownerEmail }}/tasks">{{ account.firstName }} {{ account.lastName }}</a></h5>
            </div>
            <p class="mb-1">{{ account.ownerEmail }}</p>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
          <h5>Metrics</h5>
      </div>
    </div>
  </div>
</div>

<app-team-form [teamId]="team.id" (teamUpdated)="onTeamUpdated($event)"></app-team-form>
