.divider {
    width: 10px;
    display: inline-block;
}

.metric-container {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
}

.team-metric {
    border-color: rgb(63, 63, 252);
    border-style: solid;
    background-color: lightblue;
}

li {
    cursor: pointer;
    color: #007bff;
}

a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #555;
}